.transition {
    width: 100%;
    height: 80px;
    background-color: var(--azul-escuro);
    position: relative; /* necessário */
    
}

.transition::after {
    content: "";
    position: absolute; /* necessário */
    inset: 0;
    background: black;
    clip-path: ellipse(60% 50% at 50% 0%);
}
