.project-thumb {
    cursor: pointer;
    height: 250px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

/* O overlay com blur */
.project-thumb-blur {
    position: absolute;
    inset: 0;
    backdrop-filter: blur(2px);
    /* BLUR APLICADO APENAS NO FUNDO */
    background: rgba(0, 0, 0, 0.15);
    /* opcional */
    pointer-events: none;
}

/* Ícone normal, não borrado */
.project-thumb-icon {
    z-index: 5;
}